<!DOCTYPE html>
    <html>

        <head>
            <title>Title of my page</title>
        </head>

        <body>
            <header>Welcome to my finance app</header>

            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Accounts</a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Budget</a></li>
                </ul>

            <form>
                <input type="search" name="q" placeholder="Search" />
                <input type="submit" value="Submit" />
            </form>

            <main>
                <h1>Text heading</h1>

                {% for account in accounts %}
                    <h2><a href="">{{ account.name }}</a></h2>
                    <p>ID: {{ account.id }}</p>
                    <p>Type: {{ account.type }}</p>
                    <p>Owned by: {{ account.owner }}</p>
                {% endfor %}
                
                <aside>
                    <p>Test side text</p>
                </aside>
            </main>

            <footer>
                <p>Hello world.</p>
            </footer>
        </body>
    </html>